<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${message}" />
    <target name="logfile" xsi:type="File" fileName="${environment:variable=UserProfile}\Desktop\FTP Health Check ${shortdate}.csv">
      <layout xsi:type="CsvLayout">
        <column name="Time" layout="${date:format= HH\:mm\:ss.fff}" />
        <column name="Message" layout="${message}" />
        <column name="Level" layout="${level}" />
      </layout>
    </target>
    <target name="email" xsi:type="Mail"
            to="CaasNOCEngineering@inin.com"
            cc="SupportPrivateCloud@inin.com"
            from="no-reply@inin.com"
            smtpServer="smtp.admin.inin.local"
            smtpPort="25" 
            subject="Kohl's FTP Health Check Test Ignore ${shortdate}"
            layout="${longdate} ${message}">
    </target>
    <target xsi:type="EventLog" 
          name="event"
          layout="${message}"
          machineName="."
          source="FTP Health Check"
          eventId="24267"
          log="Application" />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console"/>
    <logger name="*" minlevel="Trace" writeTo="logfile"/>
    <logger name="*" minlevel="Fatal" writeTo="email" />
    
    <logger name="*" minlevel="Fatal" writeTo="event" />
  </rules>
</nlog>